
<h2>Search Results</h2>
<ul>
<% for item in @result["response"]["docs"] %>
   <li><a href="<%= item['id'] %>"><%= item['id'] %></a><%= @result['highlighting'][item['id']].to_json %></li>
<% end %>
</ul>
<form method="get" action="" >
<input type="text" name="q" /><button type="submit">Search</button>
</form>
